In [ ]:
CREATE TABLE InstitutionInformation (
    unitid INTEGER PRIMARY KEY,
    instnm TEXT,
    location TEXT,
    address TEXT,
    region INTEGER,
    control INTEGER,
    ccbasic INTEGER,
    censusids INTEGER,
    latitude INTEGER,
    longitude INTEGER,
    accredagency TEXT,
    preddeg INTEGER,
    highdeg INTEGER
)

CREATE TABLE StudentBody (
    unitid INTEGER PRIMARY KEY,
    sat_avg INTEGER,
    adm_rate FLOAT,
    pptug_ef FLOAT,
    ugds_white FLOAT,
    ugds_black FLOAT,
    ugds_hisp FLOAT,
    ugds_asian FLOAT,
    ugds_NRA FLOAT,
    ug INTEGER,
    inexpfte INTEGER,
    C150_4 INTEGER,
    C150_L4 INTEGER,
    tuitfte INTEGER,
    tutionfee_in INTEGER,
    tutionfee_out INTEGER,
    tutionfee_prog INTEGER,
    FOREIGN KEY (unitid) REFERENCES InstitutionInformation(unitid)
)

CREATE TABLE Debt (
    unitid INTEGER PRIMARY KEY,
    grad_debt_mdn INTEGER,
    wdraw_debt_mdn INTEGER,
    lo_inc_debt_mdn INTEGER,
    md_inc_debt_mdn INTEGER,
    hi_inc_debt_mdn INTEGER,
    dep_debt_mdn INTEGER,
    ind_debt_mdn INTEGER,
    pell_debt_mdn INTEGER,
    nopell_debt_mdn INTEGER,
    female_debt_mdn INTEGER,
    male_debt_mdn INTEGER,
    firstgen_debt_mdn INTEGER,
    notfirstgen_debt_mdn INTEGER,
    CDR2 INTEGER,
    CDR3 INTEGER,
    FOREIGN KEY (unitid) REFERENCES InstitutionInformation(unitid)
)

CREATE TABLE StudentOutcomes (
    unitid INTEGER PRIMARY KEY,
    md_earn_wne_6 INTEGER,
    pct25_earn_wne_p6 INTEGER,
    count_wne_inc1_p6 INTEGER,
    count_wne_inc2_p6 INTEGER,
    count_wne_inc3_p6 INTEGER,
    FOREIGN KEY (unitid) REFERENCES InstitutionInformation(unitid)
)